.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #29a329;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    color: #29a329;
  }
  
  .form-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .inputfield {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #29a329;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .result {
    margin-top: 20px;
  }
  
  .validation-result {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
  }
  
  .valid {
    color: #29a329;
    background-color: #eaffea;
  }
  
  .invalid {
    color: #ff3838;
    background-color: #ffeaea;
  }
  